<a href="https://colab.research.google.com/github/wmezadev/CSE-450-TEAM-4/blob/neuralNetworkDraft/draft/BikeNetwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Welcome Bikes Neural Netwrok Model

lets instantiate the data and include librarys

In [140]:
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [141]:

bikes = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/bikes.csv')

bikes.head()

,dteday,season,hr,holiday,workingday,weathersit,hum,windspeed,temp_c,feels_like_c,casual,registered
0,1/1/11,1,0,0,0,1,0.81,0,3.28,3.0014,3,13
1,1/1/11,1,1,0,0,1,0.80,0,2.34,1.9982,8,32
2,1/1/11,1,2,0,0,1,0.80,0,2.34,1.9982,5,27
3,1/1/11,1,3,0,0,1,0.75,0,3.28,3.0014,3,10
4,1/1/11,1,4,0,0,1,0.75,0,3.28,3.0014,0,1

handling null values/objects that cannot be scaled

In [142]:
#you could just drop this column of date, but i believe its relevant.
#were gonna split it into one column with the day of year instead.
bikes['dteday'] = pd.to_datetime(bikes['dteday'])
bikes['day_of_year'] = bikes['dteday'].dt.dayofyear


#we dont need dteday anymore since its data has been split.
bikes = bikes.drop('dteday', axis=1)

#creating a column for total users (will be the target value)
totalUsers = bikes['casual'] + bikes['registered']
bikes['totalUsers'] = totalUsers

bikes.head()

,season,hr,holiday,workingday,weathersit,hum,windspeed,temp_c,feels_like_c,casual,registered,day_of_year,totalUsers
0,1,0,0,0,1,0.81,0,3.28,3.0014,3,13,1,16
1,1,1,0,0,1,0.80,0,2.34,1.9982,8,32,1,40
2,1,2,0,0,1,0.80,0,2.34,1.9982,5,27,1,32
3,1,3,0,0,1,0.75,0,3.28,3.0014,3,10,1,13
4,1,4,0,0,1,0.75,0,3.28,3.0014,0,1,1,1

for fun, lets looks at the minimum and maximum values to know what to expect.

In [143]:
bikes.max()

season            4.0
hr               23.0
holiday           1.0
workingday        1.0
weathersit        4.0
hum               1.0
windspeed        57.0
temp_c           39.0
feels_like_c     50.0
casual          367.0
registered      886.0
day_of_year     365.0
totalUsers      977.0
dtype: float64

In [144]:
bikes.min()

season           1.00
hr               0.00
holiday          0.00
workingday       0.00
weathersit       1.00
hum              0.00
windspeed        0.00
temp_c          -7.06
feels_like_c   -16.00
casual           0.00
registered       0.00
day_of_year      1.00
totalUsers       1.00
dtype: float64

Defining Features and Target values

In [145]:
features = bikes[['season', 'hr', 'holiday', 'workingday', 'weathersit', 'hum', 'windspeed', 'temp_c', 'feels_like_c', 'day_of_year']]  
#our target value is actually the TOTAL number of people that came by, thats the casual + registered users

target = bikes['totalUsers']

Using a scaler on the values (they're all integers or floats so this is relatively simple)

In [146]:
scaled_features = MinMaxScaler().fit_transform(features)
scaled_features_df = pd.DataFrame(scaled_features, columns=features.columns)
scaled_features_df.tail()

,season,hr,holiday,workingday,weathersit,hum,windspeed,temp_c,feels_like_c,day_of_year
16632,1.0,0.826087,0.0,1.0,0.000000,0.66,0.000000,0.306122,0.3485,0.917582
16633,1.0,0.869565,0.0,1.0,0.000000,0.66,0.000000,0.306122,0.3485,0.917582
16634,1.0,0.913043,0.0,1.0,0.000000,0.75,0.105263,0.285714,0.3182,0.917582
16635,1.0,0.956522,0.0,1.0,0.000000,0.75,0.000000,0.285714,0.3333,0.917582
16636,1.0,1.000000,0.0,1.0,0.333333,0.75,0.105263,0.285714,0.3182,0.917582

splitting the data into training and testing *sets*

In [147]:
X_train, X_test, y_train, y_test = train_test_split(scaled_features, target, test_size=0.2, random_state=42)

Time to build the actual model

In [159]:
#we need the number of features for this.
num_features = scaled_features.shape[1]


model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(80, activation='relu', input_shape=(num_features,)),
    tf.keras.layers.Dense(60, activation='relu'),
    tf.keras.layers.Dense(40, activation='relu'),  
    tf.keras.layers.Dense(20, activation='relu'),  
    tf.keras.layers.Dense(1)  # Output layer
])

#compiling the model, using mean squared error since it works great for neural networks
#and the adam optimizer
model.compile(loss='mean_squared_error', optimizer='adam')

Lets train the model now!

In [161]:
model.fit(X_train, y_train, epochs=150, batch_size=14) #epoch 100 is a LOT, we can reduce this to avoid overfitting if we choose.

Epoch 1/150
951/951 [==============================] - 2s 2ms/step - loss: 6810.3076
Epoch 2/150
951/951 [==============================] - 2s 2ms/step - loss: 6493.0635
Epoch 3/150
951/951 [==============================] - 2s 2ms/step - loss: 6532.5039
Epoch 4/150
951/951 [==============================] - 3s 3ms/step - loss: 6343.6934
Epoch 5/150
951/951 [==============================] - 2s 2ms/step - loss: 6229.0298
Epoch 6/150
951/951 [==============================] - 2s 2ms/step - loss: 6384.0415
Epoch 7/150
951/951 [==============================] - 2s 2ms/step - loss: 6052.7158
Epoch 8/150
951/951 [==============================] - 2s 2ms/step - loss: 6067.9385
Epoch 9/150
951/951 [==============================] - 2s 2ms/step - loss: 5913.0957
Epoch 10/150
951/951 [==============================] - 3s 3ms/step - loss: 6007.5679
Epoch 11/150
951/951 [==============================] - 2s 2ms/step - loss: 5911.5913
Epoch 12/150
951/951 [==============================] - 2s 2ms/step - loss: 5885.3066
Epoch 13/150
951/951 [==============================] - 2s 2ms/step - loss: 5880.0679
Epoch 14/150
951/951 [==============================] - 2s 2ms/step - loss: 5770.7031
Epoch 15/150
951/951 [==============================] - 2s 2ms/step - loss: 5744.2671
Epoch 16/150
951/951 [==============================] - 3s 3ms/step - loss: 5774.3652
Epoch 17/150
951/951 [==============================] - 2s 2ms/step - loss: 5595.3169
Epoch 18/150
951/951 [==============================] - 2s 2ms/step - loss: 5633.9224
Epoch 19/150
951/951 [==============================] - 2s 2ms/step - loss: 5597.0791
Epoch 20/150
951/951 [==============================] - 2s 2ms/step - loss: 5621.2476
Epoch 21/150
951/951 [==============================] - 2s 2ms/step - loss: 5548.7681
Epoch 22/150
951/951 [==============================] - 3s 3ms/step - loss: 5373.3462
Epoch 23/150
951/951 [==============================] - 2s 2ms/step - loss: 5375.0703
Epoch 24/150
951/951 [==============================] - 2s 2ms/step - loss: 5498.7520
Epoch 25/150
951/951 [==============================] - 2s 2ms/step - loss: 5522.2456
Epoch 26/150
951/951 [==============================] - 2s 2ms/step - loss: 5461.7886
Epoch 27/150
951/951 [==============================] - 2s 2ms/step - loss: 5379.3506
Epoch 28/150
951/951 [==============================] - 3s 3ms/step - loss: 5330.0874
Epoch 29/150
951/951 [==============================] - 2s 2ms/step - loss: 5333.7505
Epoch 30/150
951/951 [==============================] - 2s 2ms/step - loss: 5368.3438
Epoch 31/150
951/951 [==============================] - 2s 2ms/step - loss: 5288.4941
Epoch 32/150
951/951 [==============================] - 2s 2ms/step - loss: 5335.6167
Epoch 33/150
951/951 [==============================] - 2s 2ms/step - loss: 5346.4673
Epoch 34/150
951/951 [==============================] - 3s 3ms/step - loss: 5252.1709
Epoch 35/150
951/951 [==============================] - 2s 2ms/step - loss: 5325.9570
Epoch 36/150
951/951 [==============================] - 2s 2ms/step - loss: 5308.6440
Epoch 37/150
951/951 [==============================] - 2s 2ms/step - loss: 5186.2910
Epoch 38/150
951/951 [==============================] - 2s 2ms/step - loss: 5184.3516
Epoch 39/150
951/951 [==============================] - 2s 2ms/step - loss: 5214.7900
Epoch 40/150
951/951 [==============================] - 3s 3ms/step - loss: 5161.3652
Epoch 41/150
951/951 [==============================] - 2s 2ms/step - loss: 5161.5947
Epoch 42/150
951/951 [==============================] - 2s 2ms/step - loss: 5144.3613
Epoch 43/150
951/951 [==============================] - 2s 2ms/step - loss: 5025.5381
Epoch 44/150
951/951 [==============================] - 2s 2ms/step - loss: 5122.7363
Epoch 45/150
951/951 [==============================] - 2s 2ms/step - loss: 5067.8657
Epoch 46/150
951/951 [==============================] - 3s 3ms/step - loss: 5082.8413
Epoch 47/150
951/951 [==============================] - 2s 3ms/step - loss: 5158.1890
Epoch 48/150
951/951 [==============================] - 2s 2ms/step - loss: 5104.5771
Epoch 49/150
951/951 [==============================] - 2s 2ms/step - loss: 5004.8730
Epoch 50/150
951/951 [==============================] - 2s 2ms/step - loss: 5043.9707
Epoch 51/150
951/951 [==============================] - 2s 2ms/step - loss: 4983.6904
Epoch 52/150
951/951 [==============================] - 3s 3ms/step - loss: 5012.1694
Epoch 53/150
951/951 [==============================] - 2s 2ms/step - loss: 4971.3052
Epoch 54/150
951/951 [==============================] - 2s 2ms/step - loss: 4991.2627
Epoch 55/150
951/951 [==============================] - 2s 2ms/step - loss: 4996.9341
Epoch 56/150
951/951 [==============================] - 2s 2ms/step - loss: 4960.6074
Epoch 57/150
951/951 [==============================] - 2s 2ms/step - loss: 4923.1978
Epoch 58/150
951/951 [==============================] - 3s 3ms/step - loss: 4991.3789
Epoch 59/150
951/951 [==============================] - 2s 2ms/step - loss: 4909.9048
Epoch 60/150
951/951 [==============================] - 2s 2ms/step - loss: 4991.7207
Epoch 61/150
951/951 [==============================] - 2s 2ms/step - loss: 4864.1128
Epoch 62/150
951/951 [==============================] - 2s 2ms/step - loss: 4923.0786
Epoch 63/150
951/951 [==============================] - 2s 2ms/step - loss: 4895.0786
Epoch 64/150
951/951 [==============================] - 3s 3ms/step - loss: 4876.7729
Epoch 65/150
951/951 [==============================] - 3s 3ms/step - loss: 4858.2554
Epoch 66/150
951/951 [==============================] - 2s 2ms/step - loss: 4853.1035
Epoch 67/150
951/951 [==============================] - 2s 2ms/step - loss: 4878.7783
Epoch 68/150
951/951 [==============================] - 2s 2ms/step - loss: 4818.6660
Epoch 69/150
951/951 [==============================] - 2s 2ms/step - loss: 4832.7881
Epoch 70/150
951/951 [==============================] - 3s 3ms/step - loss: 4724.7153
Epoch 71/150
951/951 [==============================] - 2s 3ms/step - loss: 4773.0186
Epoch 72/150
951/951 [==============================] - 2s 2ms/step - loss: 4762.4033
Epoch 73/150
951/951 [==============================] - 2s 2ms/step - loss: 4756.3735
Epoch 74/150
951/951 [==============================] - 2s 2ms/step - loss: 4812.4561
Epoch 75/150
951/951 [==============================] - 2s 2ms/step - loss: 4704.6211
Epoch 76/150
951/951 [==============================] - 3s 3ms/step - loss: 4740.2256
Epoch 77/150
951/951 [==============================] - 2s 2ms/step - loss: 4749.9727
Epoch 78/150
951/951 [==============================] - 2s 2ms/step - loss: 4667.9521
Epoch 79/150
951/951 [==============================] - 2s 2ms/step - loss: 4733.3042
Epoch 80/150
951/951 [==============================] - 2s 2ms/step - loss: 4667.2007
Epoch 81/150
951/951 [==============================] - 2s 2ms/step - loss: 4750.5688
Epoch 82/150
951/951 [==============================] - 3s 3ms/step - loss: 4610.7456
Epoch 83/150
951/951 [==============================] - 2s 2ms/step - loss: 4656.9155
Epoch 84/150
951/951 [==============================] - 2s 2ms/step - loss: 4649.3315
Epoch 85/150
951/951 [==============================] - 2s 2ms/step - loss: 4589.6719
Epoch 86/150
951/951 [==============================] - 2s 2ms/step - loss: 4607.3213
Epoch 87/150
951/951 [==============================] - 2s 2ms/step - loss: 4628.3989
Epoch 88/150
951/951 [==============================] - 3s 3ms/step - loss: 4574.2930
Epoch 89/150
951/951 [==============================] - 2s 2ms/step - loss: 4666.9824
Epoch 90/150
951/951 [==============================] - 2s 2ms/step - loss: 4521.9531
Epoch 91/150
951/951 [==============================] - 2s 2ms/step - loss: 4616.9385
Epoch 92/150
951/951 [==============================] - 2s 2ms/step - loss: 4592.6055
Epoch 93/150
951/951 [==============================] - 2s 2ms/step - loss: 4492.9170
Epoch 94/150
951/951 [==============================] - 3s 3ms/step - loss: 4501.7114
Epoch 95/150
951/951 [==============================] - 2s 2ms/step - loss: 4598.4521
Epoch 96/150
951/951 [==============================] - 2s 2ms/step - loss: 4514.2202
Epoch 97/150
951/951 [==============================] - 2s 2ms/step - loss: 4498.0508
Epoch 98/150
951/951 [==============================] - 2s 2ms/step - loss: 4524.4209
Epoch 99/150
951/951 [==============================] - 3s 3ms/step - loss: 4551.8115
Epoch 100/150
951/951 [==============================] - 3s 3ms/step - loss: 4480.3218
Epoch 101/150
951/951 [==============================] - 2s 2ms/step - loss: 4436.1396
Epoch 102/150
951/951 [==============================] - 2s 2ms/step - loss: 4464.5718
Epoch 103/150
951/951 [==============================] - 2s 2ms/step - loss: 4446.0220
Epoch 104/150
951/951 [==============================] - 2s 2ms/step - loss: 4432.6602
Epoch 105/150
951/951 [==============================] - 3s 3ms/step - loss: 4420.3066
Epoch 106/150
951/951 [==============================] - 2s 2ms/step - loss: 4407.7573
Epoch 107/150
951/951 [==============================] - 2s 2ms/step - loss: 4358.8975
Epoch 108/150
951/951 [==============================] - 2s 2ms/step - loss: 4515.0171
Epoch 109/150
951/951 [==============================] - 2s 2ms/step - loss: 4400.8081
Epoch 110/150
951/951 [==============================] - 3s 3ms/step - loss: 4395.1357
Epoch 111/150
951/951 [==============================] - 3s 3ms/step - loss: 4357.5073
Epoch 112/150
951/951 [==============================] - 2s 2ms/step - loss: 4403.0532
Epoch 113/150
951/951 [==============================] - 2s 2ms/step - loss: 4347.5859
Epoch 114/150
951/951 [==============================] - 2s 3ms/step - loss: 4316.6016
Epoch 115/150
951/951 [==============================] - 3s 3ms/step - loss: 4355.7949
Epoch 116/150
951/951 [==============================] - 3s 3ms/step - loss: 4325.2573
Epoch 117/150
951/951 [==============================] - 3s 3ms/step - loss: 4291.5112
Epoch 118/150
951/951 [==============================] - 2s 2ms/step - loss: 4328.8843
Epoch 119/150
951/951 [==============================] - 2s 2ms/step - loss: 4256.8828
Epoch 120/150
951/951 [==============================] - 2s 2ms/step - loss: 4322.1353
Epoch 121/150
951/951 [==============================] - 3s 4ms/step - loss: 4356.1318
Epoch 122/150
951/951 [==============================] - 2s 2ms/step - loss: 4351.1348
Epoch 123/150
951/951 [==============================] - 3s 3ms/step - loss: 4272.2930
Epoch 124/150
951/951 [==============================] - 2s 3ms/step - loss: 4292.5132
Epoch 125/150
951/951 [==============================] - 3s 3ms/step - loss: 4287.7793
Epoch 126/150
951/951 [==============================] - 3s 3ms/step - loss: 4244.4053
Epoch 127/150
951/951 [==============================] - 2s 3ms/step - loss: 4238.7456
Epoch 128/150
951/951 [==============================] - 2s 2ms/step - loss: 4237.7480
Epoch 129/150
951/951 [==============================] - 2s 2ms/step - loss: 4195.3442
Epoch 130/150
951/951 [==============================] - 2s 2ms/step - loss: 4228.0488
Epoch 131/150
951/951 [==============================] - 3s 4ms/step - loss: 4217.9595
Epoch 132/150
951/951 [==============================] - 2s 3ms/step - loss: 4181.1611
Epoch 133/150
951/951 [==============================] - 2s 3ms/step - loss: 4193.2173
Epoch 134/150
951/951 [==============================] - 2s 2ms/step - loss: 4192.6543
Epoch 135/150
951/951 [==============================] - 2s 3ms/step - loss: 4223.9526
Epoch 136/150
951/951 [==============================] - 3s 3ms/step - loss: 4218.3770
Epoch 137/150
951/951 [==============================] - 2s 2ms/step - loss: 4208.6016
Epoch 138/150
951/951 [==============================] - 2s 2ms/step - loss: 4141.5562
Epoch 139/150
951/951 [==============================] - 2s 2ms/step - loss: 4176.3359
Epoch 140/150
951/951 [==============================] - 2s 3ms/step - loss: 4128.3682
Epoch 141/150
951/951 [==============================] - 3s 3ms/step - loss: 4186.9424
Epoch 142/150
951/951 [==============================] - 2s 2ms/step - loss: 4160.4448
Epoch 143/150
951/951 [==============================] - 2s 2ms/step - loss: 4170.8770
Epoch 144/150
951/951 [==============================] - 2s 2ms/step - loss: 4122.1860
Epoch 145/150
951/951 [==============================] - 2s 2ms/step - loss: 4147.4697
Epoch 146/150
951/951 [==============================] - 2s 2ms/step - loss: 4117.5479
Epoch 147/150
951/951 [==============================] - 3s 3ms/step - loss: 4073.5657
Epoch 148/150
951/951 [==============================] - 2s 2ms/step - loss: 4144.7773
Epoch 149/150
951/951 [==============================] - 2s 2ms/step - loss: 4082.3350
Epoch 150/150
951/951 [==============================] - 2s 2ms/step - loss: 4058.1174

Now to use our model to make predictions

In [150]:
loss = model.evaluate(X_test, y_test)
print('Mean Squared Error:', loss)
predictions = model.predict(X_test)

# Print predicted values
predicted_values = pd.DataFrame(predictions)
predicted_values.head()

104/104 [==============================] - 0s 2ms/step - loss: 4695.7988
Mean Squared Error: 4695.798828125
104/104 [==============================] - 0s 1ms/step

            0
0    5.500486
1  330.381470
2  236.307816
3   27.882105
4  130.423965